@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #E9EEEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, sans-serif;
}

header {
    width: 100%;
    height: 40px;
    background-color: #30D5C8;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.logo-image {
    width: 30px;
    height: 30px;
}
.interactive-line {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 30px;
    justify-content: space-around;
}
.pages-navigation {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;

    a {
        font-size: 1.75rem;
        color: #FFFFFF;
        font-weight: bold;
    }
}
.search-form {
    display: flex;
    height: max-content;
    width: max-content;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 5px;
}
.search-field-input {
    width: 35vw;
    height: 30px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
}
.search-button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: none;
}
.search-button-img {
    width: 80%;
    height: 80%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    height: max-content;
    width: 80%;
    gap: 20px;
    padding: 20px 0;
}

.tags-panel {
    background-color: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
}
.tag-button {
}
.books-panel {
    background-color: #FFFFFF;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 10px;
}
.books-panel-label {
    font-size: 1.75rem;
    font-weight: medium;
    padding: 0 30px;
    margin: 0;
    margin-bottom: 10px;
}
.books-case {
    height: max-content;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: left;
    gap: 20px;
}

.book-card {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-cover {
    height: 320px;
    width: 180px;
}
.book-info {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}
.book-title {
    margin: 0;
    padding: 0;
}
.book-author {
    margin: 0;
    padding: 0;
}


footer {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        width: 80%;
        max-width: 80%;
    }
}

.description-case {
}
.description {
    margin: 0;
}
.communication-case {
    display: flex;
}
.social-media-case {
}
.social-media-text {
    margin: 0;
}
.social-media-button-case {
}
.social-media-button {
}
.support-service-case {
}
.support-service-line {
    margin: 0;
}
.support-service-text {
    display: flex;
    gap: 10px;

    p {
        margin: 0;
    }
}
